.sidebarcontents{
    background-color: aquamarine;
}
.easyhome{
    background-color:red; 
}

#dashboardcontainer{
    background-color: blue;
}

 #container {
        display: flex;
        background-color: blanchedalmond;
      }

      #addproperty {
        background-color: green;
      }
  

